{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "react-app",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest"
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "usePrettierrc": false,
                "endOfLine": "auto",
                "singleQuote": true,
                "jsxSingleQuote": false,
                "tabWidth": 2,
                "useTabs": false,
                "printWidth": 120,
                "semi": true,
                "bracketSpacing": true
            }
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "no-console": "warn",
        "no-debugger": "error",
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "only-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "never"
            }
        ],
        "object-curly-spacing":["warn", "always"]
    }
}